site_name: "oper8"
nav:
  - Home: index.md
  - API References: API References.md
theme:
  name: material
  font:
    text: IBM Plex Sans
    code: IBM Plex Mono
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: black
      accent: deep purple
    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: white
      accent: indigo
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_submodules: true
